############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
.buildNumber

############################
# Allure
############################
allure-results/
allure-report/

############################
# Logs
############################
*.log
logs/
*.out

############################
# IDE - IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

############################
# IDE - Eclipse
############################
.classpath
.project
.settings/

############################
# IDE - VS Code
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Java
############################
*.class

############################
# Test Output
############################
test-output/
surefire-reports/

############################
# Environment / Secrets
############################
.env
*.properties
!allure.properties
!log4j2.xml
